# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.pyo
*.pyd
.build/
dist/

# Virtual env
.venv/
venv/

# IDE & OS
.vscode/
*.code-workspace
.DS_Store
Thumbs.db

# Data & outputs
data/
figures/
notebooks/.ipynb_checkpoints/
*.parquet
*.csv
*.db
*.sqlite

# Secrets & local configs
.env
*.secret
configs/tickers.yaml
configs/sources.yaml